{% extends '00_nexia_intelligence_base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/journal.css' %}">
{% endblock %}
{% block titleblock %}
    Please input your email to get instructions to reset your password.
{% endblock %}
{% block bodyblock %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Submit" class="btn btn-light">
        <a href="{% url 'login' %}" class="btn btn-danger">Cancel</a>
    </form>

{% endblock %}

