* {
    font-family: Tahoma, sans-serif;
}
p {
    font-size: 16px;
}
body {
    /*background-color: lightgray;*/
    font-family: Tahoma, sans-serif;
    color: #00323C;
}

a {
	text-decoration: none;
}

h4.page-title {
	border-bottom: 1px solid #e3e3e3;
	padding: 10px 0;
	position: relative;
	font-size: 22px;
	color: #00323C;
	text-transform: uppercase;
}

/* h4.page-title:before {
	content: "";
	background: #00B9B9;
	display: block;
	width: 80px;
	position: absolute;
	border: 2px;
	height: 4px;
	bottom: -2px;
} */

.card-box {
	min-height: 201px;
}

.card.card-img-holder {
	position: relative;
	width: 100%;
	min-width: 100%;
	border: 0;
}

.card-box {
    transition: box-shadow 0.3s ease-in-out;
}

/* .card-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
} */

.card-box:hover {

	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
	transition: all 0.4s ease;
}

.bg-NexiaBlue {
	background: linear-gradient(to right, #1985C3, #1985C3) !important;
}

.bg-NexiaPurple {
	background: linear-gradient(to right, #841262, #841262) !important;
}

.bg-NexiaDarkBlue {
	background: linear-gradient(to right, #2E53A1, #2E53A1) !important;
}

.bg-NexiaPink {
	background: linear-gradient(to right, #CA1C66, #CA1C66) !important;
}

.bg-NexiaDarkTeal {
	background: linear-gradient(to right, #00323C, #00323C) !important;
}

.bg-NexiaLightTeal {
	background: linear-gradient(to right, #00B9B9, #00B9B9) !important;
}

.card.card-img-holder .card-img-absolute {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	opacity: 0.6;
}

.card.card-img-holder .card-icon-absolute {
	position: relative;
}

.card-icon-absolute .custom-icon {
    font-size: 48px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 20px;
}